<ul class="">
	<li class="">
		{{ title }}
	</li>
	<li class="">
		{{ date }}
	</li>
	<li class="">
		{{ description }}
	</li>
	<li class="">
		{{ actors }}
	</li>
	<li class="">
		{{ directors }}
	</li>
	<li class="">
		<a href="">Acheter</a>
	</li>
	<li class="">
		<a href="">Louer</a>
	</li>
	<li class="">
		<a href="">Offrir</a>
	</li>
</ul>