<ul class="">
	<li class="">
		<u>Titre du film</u> : {{ title }}
	</li>
	<li class="">
		<u>Date de parution</u> : {{ date }}
	</li>
	<li class="">
		<u>Description</u> : {{ description }}
	</li>
	<li class="">
		<u>Acteur</u> : {{ actors }}
	</li>
	<li class="">
		<u>Realisateur</u> : {{ directors }}
	</li>
	<li class="">
		<a href="">Acheter</a>
	</li>
	<li class="">
		<a href="">Louer</a>
	</li>
	<li class="">
		<a href="">Offrir</a>
	</li>
</ul>