<html>
	<head>
	    <meta charset="utf-8" />
	    <title>{% block title %} {% endblock %}</title>
	    <link rel="stylesheet" href="{{initialContext}}styles/main.css">
	    <link rel="stylesheet" href="{{initialContext}}styles/notifications.css">
	    <link rel="stylesheet" href="{{initialContext}}styles/entry-banner.css">
	    <link rel="stylesheet" href="{{initialContext}}styles/footer.css">
	    <link rel="icon" type="image/png" href="{{initialContext}}ressources/cinema.png" />
	</head>
	<body>
		{% include 'common/entry-banner.twig' %}
	
	    {% if not(connected) %}
			{% include 'common/sign-in-form.twig' %}
		{% endif %}
	    
	    {% if notification %}
			{% include 'common/notification.twig' %}
		{% endif %}

		{% if error %}
			{% include 'common/error.twig' %}
		{% endif %}
	    <div id="body">
		    <div id="header">
		    {% block header %} {% endblock %}
		    </div>
	    {% block body %} {% endblock %}
	    </div>
	    {% block footer %} {% endblock %}
	    {% include 'common/footer.twig' %}
	</body>
</html>